@model KS.ViewModels.Product.ProductIndexViewModel

@{
    ViewBag.Title = $"Редактирование товара {@Model.Name}";
    Layout = "_Layout";
}
@* <div class="container"> *@
@*     <div class="row"> *@
@*         <div class="col-7"> *@
@*             <form asp-action="Edit" asp-controller="Product" asp-route-id="@Model.Id" method="post"> *@
@*                 <input hidden asp-for="Id"> *@
@*                 <div class="mb-3 row"> *@
@*                     <label asp-for="Name" class="col-form-label col-sm-2 text-sm-end">Название</label> *@
@*                     <div class="col-sm-10"> *@
@*                         <textarea asp-for="Name" class="form-control" placeholder="Название" rows="3"></textarea> *@
@*                     </div> *@
@*                     <span asp-validation-for="Name"></span> *@
@*                 </div> *@
@*                 <div class="input-group mb-3"> *@
@*                     <span class="input-group-text">Старая цена</span> *@
@*                     <input asp-for="OldPrice" type="text" class="form-control"> *@
@*                     <span class="input-group-text">.00₽</span> *@
@*                     <span asp-validation-for="OldPrice"></span> *@
@*                 </div> *@
@*                 <div class="input-group mb-3"> *@
@*                     <span class="input-group-text">Цена</span> *@
@*                     <input asp-for="Price" type="text" class="form-control"> *@
@*                     <span class="input-group-text">.00₽</span> *@
@*                     <span asp-validation-for="Price"></span> *@
@*                 </div> *@
@*                 <div class="input-group mb-3"> *@
@*                     <span class="input-group-text">Скидка</span> *@
@*                     <input asp-for="Discount" type="text" class="form-control"> *@
@*                     <span class="input-group-text">.00</span> *@
@*                     <span asp-validation-for="Discount"></span> *@
@*                 </div> *@
@*                 <div class="mb-3 row"> *@
@*                     <label asp-for="Quantity" class="col-form-label col-sm-2 text-sm-end">Количество</label> *@
@*                     <div class="col-sm-10"> *@
@*                         <textarea asp-for="Quantity" class="form-control" placeholder="Количество" rows="3"></textarea> *@
@*                     </div> *@
@*                     <span asp-validation-for="Quantity"></span> *@
@*                 </div> *@
@*                 <div class="mb-3 row"> *@
@*                     <label asp-for="VendorCode" class="col-form-label col-sm-2 text-sm-end">Артикул</label> *@
@*                     <div class="col-sm-10"> *@
@*                         <textarea asp-for="VendorCode" class="form-control" placeholder="Артикул" rows="3"></textarea> *@
@*                     </div> *@
@*                     <span asp-validation-for="VendorCode"></span> *@
@*                 </div> *@
@*                 <div class="input-group mb-3"> *@
@*                     <select asp-for="OnMainPage" class="form-select flex-grow-1"> *@
@*                         <option value="false">Нет</option> *@
@*                         <option value="true">Да</option> *@
@*                     </select> *@
@*                 </div> *@
@*                 <div class="input-group mb-3"> *@
@*                     <select asp-for="IsNew" class="form-select flex-grow-1"> *@
@*                         <option value="false">Нет</option> *@
@*                         <option value="true">Да</option> *@
@*                     </select> *@
@*                 </div> *@
@*                 <div class="mb-3 row"> *@
@*                     <label asp-for="Guarantee" class="col-form-label col-sm-2 text-sm-end">Гарантия</label> *@
@*                     <div class="col-sm-10"> *@
@*                         <textarea asp-for="Guarantee" class="form-control" placeholder="" rows="3"></textarea> *@
@*                     </div> *@
@*                     <span asp-validation-for="Guarantee"></span> *@
@*                 </div> *@
@*                 <div class="input-group mb-3"> *@
@*                     <select asp-for="Size" class="form-select flex-grow-1"> *@
@*                         <optgroup label="Мужские размеры"> *@
@*                             <option value="44">XS</option> *@
@*                             <option value="46">S</option> *@
@*                             <option value="48">M</option> *@
@*                             <option value="50">L</option> *@
@*                             <option value="52">XL</option> *@
@*                             <option value="54">XXL</option> *@
@*                             <option value="56">XXXL</option> *@
@*                         </optgroup> *@
@*                         <optgroup label="Женские размеры"> *@
@*                             <option value="42">XS</option> *@
@*                             <option value="44">S</option> *@
@*                             <option value="46">M</option> *@
@*                             <option value="48">L</option> *@
@*                             <option value="50">XL</option> *@
@*                             <option value="52">XXL</option> *@
@*                             <option value="54">XXXL</option> *@
@*                         </optgroup> *@
@*                     </select> *@
@*                 </div> *@
@*                 <div class="mb-3 row"> *@
@*                     <label asp-for="Brand" class="col-form-label col-sm-2 text-sm-end">Бренд</label> *@
@*                     <div class="col-sm-10"> *@
@*                         <textarea asp-for="Brand" class="form-control" placeholder="" rows="3"></textarea> *@
@*                     </div> *@
@*                     <span asp-validation-for="Brand"></span> *@
@*                 </div> *@
@* d *@
@*                 <div class="mb-3 row"> *@
@*                     <label asp-for="Category" class="col-form-label col-sm-2 text-sm-end">Категория</label> *@
@*                     <div class="col-sm-10"> *@
@*                         <textarea asp-for="Category" class="form-control" placeholder="" rows="3"></textarea> *@
@*                     </div> *@
@*                     <span asp-validation-for="Category"></span> *@
@*                 </div> *@
@*                 <div class="input-group mb-3"> *@
@*                     <select asp-for="Group" class="form-select flex-grow-1"> *@
@*                         <option value="1">Мужская одежда</option> *@
@*                         <option value="2">Женская одежда</option> *@
@*                     </select> *@
@*                 </div> *@
@*                 <div class="input-group mb-3"> *@
@*                     <select asp-for="Seasons" class="form-select flex-grow-1"> *@
@*                         <option value="1">Демисезон</option> *@
@*                         <option value="2">Осень-зима</option> *@
@*                         <option value="3">Весна-лето</option> *@
@*                         <option value="4">Зима</option> *@
@*                         <option value="5">Весна</option> *@
@*                         <option value="6">Лето</option> *@
@*                         <option value="7">Осень</option> *@
@*                         <option value="8">Мульти</option> *@
@*                     </select> *@
@*                 </div> *@
@*                 <div class="mb-3 row"> *@
@*                     <label asp-for="Description" class="col-form-label col-sm-2 text-sm-end">Описание</label> *@
@*                     <div class="col-sm-10"> *@
@*                         <textarea asp-for="Description" class="form-control" placeholder="" rows="3"></textarea> *@
@*                     </div> *@
@*                     <span asp-validation-for="Description"></span> *@
@*                 </div> *@
@* *@
@*                 <div asp-validation-summary="All" class="text-danger"></div> *@
@*                 <div class="col-sm-10 ms-sm-auto"> *@
@*                     <button type="submit" class="btn btn-primary float-end mt-n1">Изменить</button> *@
@*                     <button class="btn btn-primary float-end mt-n1"> *@
@*                         <a asp-controller="Product" asp-action="Index" asp-route-id="@Model.Id">Вернуться </a> *@
@*                     </button> *@
@*                 </div> *@
@*             </form> *@
@*         </div> *@
@*         <div class="col-lg-5"> *@
@*              *@
@*         </div> *@
@*     </div> *@
@* </div> *@
