@model KS.ViewModels.Warehouse.WarehouseIndexViewModel

@{
    ViewBag.Title = $"Склад {Model.Name}";
    Layout = "_Layout";
}


<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="mb-3 row">
                <label asp-for="Name" class="col-form-label col-sm-2 text-sm-end">Название</label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" rows="3" disabled>
                </div>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="Address" class="col-form-label col-sm-2 text-sm-end">Адрес</label>
                <div class="col-sm-10">
                    <input asp-for="Address" class="form-control" rows="3" disabled>
                </div>
                <span asp-validation-for="Address"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="Vendor" class="col-form-label col-sm-2 text-sm-end">Индекс</label>
                <div class="col-sm-10">
                    <input asp-for="Vendor" class="form-control" rows="3" dirname="" disabled>
                </div>
                <span asp-validation-for="Vendor"></span>
            </div>

            <a asp-controller="Warehouse" asp-action="Index">Вернуться </a>
        </div>
    </div>
</div>