@model KS.ViewModels.Warehouse.WarehouseIndexViewModel

@{
    ViewBag.Title = "Создание склада";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-7">
            <form asp-action="Post" asp-controller="Warehouse" method="post">
                <div class="mb-3 row">
                    <label asp-for="Name" class="col-form-label col-sm-2 text-sm-end">Название</label>
                    <div class="col-sm-10">
                        <input asp-for="Name" class="form-control" rows="3">
                    </div>
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Address" class="col-form-label col-sm-2 text-sm-end">Адрес</label>
                    <div class="col-sm-10">
                        <input asp-for="Address" class="form-control" rows="3">
                    </div>
                    <span asp-validation-for="Address"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Vendor" class="col-form-label col-sm-2 text-sm-end">Индекс</label>
                    <div class="col-sm-10">
                        <input asp-for="Vendor" class="form-control" rows="3">
                    </div>
                    <span asp-validation-for="Vendor"></span>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-sm-10 ms-sm-auto">
                    <button type="submit" class="btn btn-primary float-end mt-n1">Сохранить</button>
                    <button class="btn btn-primary float-end mt-n1">
                        <a asp-controller="Brand" asp-action="Index">Вернуться </a>
                    </button>
                </div> 
            </form>
        </div>
    </div>
</div>
