@model IEnumerable<KS.ViewModels.Warehouse.WarehouseIndexViewModel>

@{
    ViewBag.Title = "Склада";
    Layout = "_Layout";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Склада</h5>
        <h6 class="card-subtitle text-muted">
            Выберите склад на который вы хотите попасть
        </h6>
    </div>
    @if (!Model.Any())
    {
        <h5>Данных нет</h5>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th style="width:25%;">Название</th>
                <th style="width: 75%">Адрес склада</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var warehouse in Model)
            {
                <tr>
                    <td><a asp-controller="WarehouseProduct" asp-action="GetProducts" asp-route-warehouseId="@warehouse.Id">@warehouse.Name</a></td>
                    <td>@warehouse.Address</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
