@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<header class="header">
    <div class="header_overlay"></div>
    <div class="header_content d-flex flex-row align-items-center justify-content-start">
        <div class="logo">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <div class="d-flex flex-row align-items-center justify-content-start">
                    <div>
                        <img src="~/Shop/images/logo_1.png" alt="">
                    </div>
                    <div>Kata Store</div>
                </div>
            </a>
        </div>
        <nav class="main_nav">
            <ul class="d-flex flex-row align-items-start justify-content-start">
                <li>
                    <a asp-area="" asp-controller="Catalog" asp-action="Index">Каталог</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Catalog" asp-action="Woman">Женщинам</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Catalog" asp-action="Men">Мужчинам</a>
                </li>
                @* <li> *@
                @*     <a href="#">Контакты</a> *@
                @* </li> *@
            </ul>
        </nav>
        <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
            <!-- Search -->
            <div class="header_search">
                <form id="header_search_form" asp-area="" asp-controller="Search" asp-action="Search">
                    <input name="searchQuery" type="text" class="search_input" placeholder="Поиск..." required="required">
                    <button class="header_search_button" type="submit">
                        <img src="~/Shop/images/search.png" alt="">
                    </button>
                </form>
            </div>

            <!-- Cart -->
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="cart">
                    <a asp-area="" asp-controller="WishList" asp-action="Index">
                        <div>
                            <img class="svg" src="~/Shop/images/heart_2.svg" alt="https://www.flaticon.com/authors/freepik">
                            @* <div>1</div> *@
                        </div>
                    </a>
                </div>

                <div class="cart">
                    <a asp-area="" asp-controller="Cart" asp-action="Index">
                        <div>
                            <img class="svg" src="~/Shop/images/cart.svg" alt="https://www.flaticon.com/authors/freepik">
                            @* <div>1</div> *@
                        </div>
                    </a>
                </div>
            }
            <!-- User -->
            <div class="user">
                <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div>
                        <img class="svg" src="~/Shop/images/user.svg" alt="https://www.flaticon.com/authors/freepik">
                    </div>

                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <div class="dropdown-menu">
                            <a asp-area="Identity" asp-page="/Account/Login"
                               class="dropdown-item">
                                Войти
                            </a>
                            <a asp-area="Identity" asp-page="/Account/Register"
                               class="dropdown-item">
                                Создать аккаунт
                            </a>
                        </div>
                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="dropdown-menu">
                            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"
                               class="dropdown-item">
                                Профиль
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="Order" asp-action="Index">Заказы</a>
                            <a class="dropdown-item" asp-area="" asp-controller="WishList" asp-action="Index">Список желаний</a>
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Панель администратора</a>
                            }
                            <div class="dropdown-divider"></div>
                            <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})"
                               class="dropdown-item">
                                Выход
                            </a>
                        </div>
                    }
                </a>
            </div>
        </div>
    </div>
</header>