@using KS.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<header class="header">
    <div class="header_overlay"></div>
    <div class="header_content d-flex flex-row align-items-center justify-content-start">
        <div class="logo">
            <a href="#">
                <div class="d-flex flex-row align-items-center justify-content-start">
                    <div>
                        <img src="/images/logo_1.png" alt="">
                    </div>
                    <div>Kata Store</div>
                </div>
            </a>
        </div>
        <div class="hamburger">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <nav class="main_nav">
            <ul class="d-flex flex-row align-items-start justify-content-start">
                <li>
                    <a asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                <li>
                    <a asp-controller="Catalog" asp-action="Index">Каталог</a>
                </li>
                <li>
                    <a asp-controller="Catalog" asp-action="Women" >Женщинам</a>
                </li>
                <li>
                    <a asp-controller="Catalog" asp-action="Man">Мужчинам</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
            <!-- Search -->
            <div class="header_search">
                <form action="#" id="header_search_form">
                    <input type="text" class="search_input" placeholder="Поиск " required="required">
                    <button class="header_search_button">
                        <img src="/images/search.png" alt="">
                    </button>
                </form>
            </div>
            <!-- Cart -->
            <div class="cart">
                <a asp-controller="Order" asp-action="OrderList">
                    <div>
                        <img class="svg" src="/images/cart.svg" alt="https://www.flaticon.com/authors/freepik">
                        @* <div>1</div> *@
                    </div>
                </a>
            </div>
            <!-- User -->
            <div class="user">
                <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div>
                    <img class="svg" src="/images/user.svg" alt="https://www.flaticon.com/authors/freepik">
                </div>
                
                   @if (!SignInManager.IsSignedIn(User))
                   {
                       <div class="dropdown-menu">
                           <a asp-area="Identity" asp-page="/Account/Login"
                              class="dropdown-item">
                               Войти
                           </a>
                           <a asp-area="Identity" asp-page="/Account/Register"
                              class="dropdown-item">Создать аккаунт</a>
                       </div>
                   }
                   @if (SignInManager.IsSignedIn(User))
                   {
                       <div class="dropdown-menu">
                           <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"
                               class="dropdown-item">
                               Профиль
                           </a>
                           <a class="dropdown-item" href="#">Заказы</a>
                           <div class="dropdown-divider"></div>
                           <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})"
                              class="dropdown-item">Выход</a>
                           @* <a class="dropdown-item">Выйти</a> *@
                       </div>
                   }
                </a>
            </div>
            <!-- Phone -->
            @* <div class="header_phone d-flex flex-row align-items-center justify-content-start"> *@
            @*     <div> *@
            @*         <div> *@
            @*             <img src="/images/phone.svg" alt="https://www.flaticon.com/authors/freepik"> *@
            @*         </div> *@
            @*     </div> *@
            @*     <div>+7 912-252-7350</div> *@
            @* </div> *@
        </div>
    </div>
</header>