@using KS.Entities.Enums
@model KS.ViewModels.Product.ProductIndexViewModel
@inject KS.Interfaces.DataAccess.Repositories.IBrandRepository _brandRepository
@inject KS.Interfaces.DataAccess.Repositories.ICategoryRepository _categoryRepository
@inject KS.Interfaces.DataAccess.Repositories.ITaxClassRepository _taxClassRepository

@{
    ViewBag.Title = $"Редактирование товара: {Model.Name}";
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <form asp-action="Put" asp-controller="Product" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
                <div class="tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-1" data-bs-toggle="tab" role="tab" aria-selected="true">Основная информация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-2" data-bs-toggle="tab" role="tab" aria-selected="false">Цены</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-3" data-bs-toggle="tab" role="tab" aria-selected="false">Категории</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-1" role="tabpanel">
                            <div class="row pt-5">
                                <div class="col-md-10">
                                    <div class="mb-3 row">
                                        <label asp-for="Name" class="col-form-label col-sm-2 text-sm-end">Название</label>
                                        <div class="col-sm-10">
                                            <input asp-for="Name" class="form-control" rows="3"/>
                                        </div>
                                        <span asp-validation-for="Name"></span>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="Slug" class="col-form-label col-sm-2 text-sm-end">Slug</label>
                                        <div class="col-sm-10">
                                            <input asp-for="Slug" class="form-control" rows="3"/>
                                        </div>
                                        <span asp-validation-for="Slug"></span>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="ShortDescription" class="col-form-label col-sm-2 text-sm-end">Краткое описание</label>
                                        <div class="col-sm-10">
                                            <textarea asp-for="ShortDescription" class="form-control" rows="3" ></textarea>
                                        </div>
                                        <span asp-validation-for="ShortDescription"></span>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="Description" class="col-form-label col-sm-2 text-sm-end">Oписание</label>
                                        <div class="col-sm-10">
                                            <textarea asp-for="Description" class="form-control" rows="3" ></textarea>
                                        </div>
                                        <span asp-validation-for="Description"></span>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="Specification" class="col-form-label col-sm-2 text-sm-end">О товаре</label>
                                        <div class="col-sm-10">
                                            <textarea asp-for="Specification" class="form-control" rows="3" ></textarea>
                                        </div>
                                        <span asp-validation-for="Specification"></span>
                                    </div>
                                    <div class="mb-3-row">
                                        <div class="col-sm-10">
                                            <label class="form-check m-0">
                                                <input asp-for="IsFeatured" type="checkbox" class="form-check-input">
                                                <span class="form-check-label">Рекомендовать</span>
                                            </label>
                                        </div>
                                        <span asp-validation-for="IsFeatured"></span>
                                    </div>
                                    @* <div class="mb-3-row"> *@
                                    @*     <div class="col-sm-10"> *@
                                    @*         <label class="form-check m-0"> *@
                                    @*             <input asp-for="IsAllowToOrder" type="checkbox" class="form-check-input"> *@
                                    @*             <span class="form-check-label">Можно заказать</span> *@
                                    @*         </label> *@
                                    @*     </div> *@
                                    @*     <span asp-validation-for="IsAllowToOrder"></span> *@
                                    @* </div> *@
                                    @* <div class="mb-3-row"> *@
                                    @*     <div class="col-sm-10"> *@
                                    @*         <label class="form-check m-0"> *@
                                    @*             <input asp-for="IsCallForPricing" type="checkbox" class="form-check-input"> *@
                                    @*             <span class="form-check-label">Требуется ценообразование</span> *@
                                    @*         </label> *@
                                    @*     </div> *@
                                    @*     <span asp-validation-for="IsCallForPricing"></span> *@
                                    @* </div> *@
                                    @* <div class="mb-3-row"> *@
                                    @*     <div class="col-sm-10"> *@
                                    @*         <label class="form-check m-0"> *@
                                    @*             <input asp-for="StockTrackingIsEnabled" type="checkbox" class="form-check-input"> *@
                                    @*             <span class="form-check-label">Включено отслеживание запасов</span> *@
                                    @*         </label> *@
                                    @*     </div> *@
                                    @*     <span asp-validation-for="StockTrackingIsEnabled"></span> *@
                                    @* </div> *@
                                </div>
                                <div class="col-md-2">

                                    <div class="mb-3">
                                        <label asp-for="CoverImage" class="rounded float-right">Картинка</label>
                                        <img src="~/@Model.CoverImageUrl" alt="@Model.Name" style="width: 200px; height: 200px"/>
                                    </div>
                                    <hr>
                                    <div class="mb-3-row">
                                        <label asp-for="CoverImage" class="form-label w-100 mt-4">Выберите картинку</label>
                                        <input asp-for="CoverImage" type="file">
                                        @* <small class="form-text text-muted">Example block-level help text here.</small> *@
                                        <span asp-validation-for="CoverImage"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-2" role="tabpanel">
                            <div class="pt-5">
                                <div class="mb-3-row">
                                    <label asp-for="Price" class="form-label">Цена</label>
                                    <div class="input-group mb-3-row">
                                        <span class="input-group-text">₽</span>
                                        <input asp-for="Price" type="text" class="form-control">
                                        <span class="input-group-text">.00</span>
                                        <span asp-validation-for="Price"></span>
                                    </div>
                                </div>
                                <div class="mb-3-row">
                                    <label asp-for="OldPrice" class="form-label mt-3">Старая цена</label>
                                    <div class="input-group mb-3-row">
                                        <span class="input-group-text">₽</span>
                                        <input asp-for="OldPrice" type="text" class="form-control">
                                        <span class="input-group-text">.00</span>
                                        <span asp-validation-for="OldPrice"></span>
                                    </div>
                                </div>
                                <div class="mb-3-row">
                                    <label asp-for="SpecialPrice" class="form-label mt-3">Акция</label>
                                    <div class="input-group mb-3-row">
                                        <span class="input-group-text">₽</span>
                                        <input asp-for="SpecialPrice" type="text" class="form-control">
                                        <span class="input-group-text">.00</span>
                                        <span asp-validation-for="SpecialPrice"></span>
                                    </div>
                                </div>
                                <div class="mb-3-row">
                                    <label asp-for="SpecialPriceStart" class="form-label mt-3">Начало акции</label>
                                    <input asp-for="SpecialPriceStart" type="date" id="start" name="trip-start" class="form-control flatpickr-minimum flatpickr-input" placeholder="Выберите дату"
                                           value=""
                                           min="2021-01-01" max="2045-12-31">
                                    <span asp-validation-for="SpecialPriceStart"></span>
                                </div>
                                <div class="mb-3-row">
                                    <label asp-for="SpecialPriceEnd" class="form-label mt-3">Конец акции</label>
                                    <input asp-for="SpecialPriceEnd" type="date" id="start" name="trip-start" class="form-control flatpickr-minimum flatpickr-input" placeholder="Выберите дату"
                                           value=""
                                           min="2021-01-01" max="2045-12-31">
                                    <span asp-validation-for="SpecialPriceEnd"></span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3" role="tabpanel">
                            <div class="pt-5">

                                <div class="form-group">
                                    <label class="form-label">Бренд</label>
                                    <select asp-for="BrandId" class="form-select flex-grow-1" asp-items="(await _brandRepository.GetBrand()).Select(x => new SelectListItem() {Text = x.Name, Value = x.Id.ToString()})">
                                        <option value="">Выберите бренд</option>
                                    </select>
                                    <span asp-validation-for="BrandId"></span>
                                </div>
                                <div class="mb-3-row mt-4">
                                    <label class="form-label mt-3">НДС</label>
                                    <select asp-for="TaxClassId" class="form-select flex-grow-1" asp-items="(await _taxClassRepository.GetTaxClass()).Select(x => new SelectListItem() {Text = x.Name, Value = x.Id.ToString()})">
                                        <option value="">Выберите налоговый класс</option>
                                    </select>
                                    <span asp-validation-for="TaxClassId"></span>
                                </div>
                                <div class="mb-3-row mt-4">
                                    <label class="form-label mt-3">Гендер</label>
                                    <select asp-for="GenderType" class="form-select flex-grow-1" asp-items="@Html.GetEnumSelectList<GenderType>()">
                                        <option value="">Выберите гендер</option>
                                    </select>
                                    <span asp-validation-for="GenderType"></span>
                                </div>
                                <div class="mb-3-row mt-4">
                                    <label class="form-label mt-3">Тип товара</label>
                                    <select asp-for="UnitType" class="form-select flex-grow-1" asp-items="@Html.GetEnumSelectList<UnitType>()">
                                        <option value="">Выберите тип продукции</option>
                                    </select>
                                    <span asp-validation-for="UnitType"></span>
                                </div>
                                <hr>
                                <div class="mb-3-row mt-4">
                                    <label class="form-label mt-3">Категории</label>
                                    <select asp-for="CategoryIds" class="form-select flex-grow-1" asp-items="(await _categoryRepository.GetCategory()).Select(x => new SelectListItem() {Text = x.Name, Value = x.Id.ToString()})">
                                    </select>
                                    <span asp-validation-for="CategoryIds"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-sm-12 ms-sm-auto">
                    <button type="submit" class="btn btn-primary float-end mt-n1">Изменить</button>
                    <a class="float-left" asp-controller="Product" asp-action="Index">Вернуться </a>
                </div>
            </form>
        </div>
    </div>
</div>
