@{
    ViewBag.Title = "Таблица размеров";
    Layout = "_Layout";
}

<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Shop/lib/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/Shop/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Shop/css/cart.css">
    <link rel="stylesheet" type="text/css" href="~/Shop/css/cart_responsive.css">

</head>
<div class="super_container">

<input type="text" value="sadasd" hidden>
<div class="super_container_inner">
<div class="super_overlay"></div>

<!-- Home -->
<div class="home">
    <div class="home_container d-flex flex-column align-items-center justify-content-end">
        <div class="home_content text-center">
            <div class="home_title">Таблица размеров</div>
            <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Size Charts -->
<div class="cart_section">
<div class="container" style="color: black;">
<div class="row inpormation-article-wrapper">
<div class="col-sm-12 inpormation-article_content">
<h3 class="mb-3">Мужская одежда</h3>
<table width="100%" class="table table-bordered">
<tbody>
<tr>
    <td>
        <b>размер/рост</b>
    </td>
    <td>
        <b>42/2</b>
    </td>
    <td>
        <b>44/2</b>
    </td>
    <td>
        <b>46/2</b>
    </td>
    <td>
        <b>48/2</b>
    </td>
    <td>
        <b>50/2</b>
    </td>
    <td>
        <b>52/2</b>
    </td>
    <td>
        <b>54/2</b>
    </td>
    <td>
        <b>56/2</b>
    </td>
    <td>
        <b>58/2</b>
    </td>
    <td>
        <b>60/2</b>
    </td>
    <td>
        <b>62/2</b>
    </td>
    <td>
        <b>64/2</b>
    </td>
    <td>
        <b>66/2</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
</tr>
<tr>
    <td>
        <b>Обхват талии </b>
    </td>
    <td>
        72
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>размер/рост</b>
    </td>
    <td>
        <b>42/3</b>
    </td>
    <td>
        <b>44/3</b>
    </td>
    <td>
        <b>46/3</b>
    </td>
    <td>
        <b>48/3</b>
    </td>
    <td>
        <b>50/3</b>
    </td>
    <td>
        <b>52/3</b>
    </td>
    <td>
        <b>54/3</b>
    </td>
    <td>
        <b>56/3</b>
    </td>
    <td>
        <b>58/3</b>
    </td>
    <td>
        <b>60/3</b>
    </td>
    <td>
        <b>62/3</b>
    </td>
    <td>
        <b>64/3</b>
    </td>
    <td>
        <b>66/3</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
</tr>
<tr>
    <td>
        <b>Обхват талии </b>
    </td>
    <td>
        72
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>размер/рост</b>
    </td>
    <td>
        <b>42/4</b>
    </td>
    <td>
        <b>44/4</b>
    </td>
    <td>
        <b>46/4</b>
    </td>
    <td>
        <b>48/4</b>
    </td>
    <td>
        <b>50/4</b>
    </td>
    <td>
        <b>52/4</b>
    </td>
    <td>
        <b>54/4</b>
    </td>
    <td>
        <b>56/4</b>
    </td>
    <td>
        <b>58/4</b>
    </td>
    <td>
        <b>60/4</b>
    </td>
    <td>
        <b>62/4</b>
    </td>
    <td>
        <b>64/4</b>
    </td>
    <td>
        <b>66/4</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
</tr>
<tr>
    <td>
        <b>Обхват талии </b>
    </td>
    <td>
        72
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>размер/рост</b>
    </td>
    <td>
        <b>42/5</b>
    </td>
    <td>
        <b>44/5</b>
    </td>
    <td>
        <b>46/5</b>
    </td>
    <td>
        <b>48/5</b>
    </td>
    <td>
        <b>50/5</b>
    </td>
    <td>
        <b>52/5</b>
    </td>
    <td>
        <b>54/5</b>
    </td>
    <td>
        <b>56/5</b>
    </td>
    <td>
        <b>58/5</b>
    </td>
    <td>
        <b>60/5</b>
    </td>
    <td>
        <b>62/5</b>
    </td>
    <td>
        <b>64/5</b>
    </td>
    <td>
        <b>66/5</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
</tr>
<tr>
    <td>
        <b>Обхват талии </b>
    </td>
    <td>
        72
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>размер/рост</b>
    </td>
    <td>
        <b>42/6</b>
    </td>
    <td>
        <b>44/6</b>
    </td>
    <td>
        <b>46/6</b>
    </td>
    <td>
        <b>48/6</b>
    </td>
    <td>
        <b>50/6</b>
    </td>
    <td>
        <b>52/6</b>
    </td>
    <td>
        <b>54/6</b>
    </td>
    <td>
        <b>56/6</b>
    </td>
    <td>
        <b>58/6</b>
    </td>
    <td>
        <b>60/6</b>
    </td>
    <td>
        <b>62/6</b>
    </td>
    <td>
        <b>64/6</b>
    </td>
    <td>
        <b>66/6</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
</tr>
<tr>
    <td>
        <b>Обхват талии </b>
    </td>
    <td>
        72
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
</tr>
</tbody>
</table>
<p>
    &nbsp;
</p>
<h3 class="mb-3"> Женская одежда</h3>
<table width="100%" class="table table-bordered">
<tbody>
<tr>
    <td>
        <b>размер/рост</b>
    </td>
    <td>
        <b>36/2</b>
    </td>
    <td>
        <b>38/2</b>
    </td>
    <td>
        <b>40/2</b>
    </td>
    <td>
        <b>42/2</b>
    </td>
    <td>
        <b>44/2</b>
    </td>
    <td>
        <b>46/2</b>
    </td>
    <td>
        <b>48/2</b>
    </td>
    <td>
        <b>50/2</b>
    </td>
    <td>
        <b>52/2</b>
    </td>
    <td>
        <b>54/2</b>
    </td>
    <td>
        <b>56/2</b>
    </td>
    <td>
        <b>58/2</b>
    </td>
    <td>
        <b>60/2</b>
    </td>
    <td>
        <b>62/2</b>
    </td>
    <td>
        <b>64/2</b>
    </td>
    <td>
        <b>66/2</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        72
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
</tr>
<tr>
    <td>
        <b>Обхват бедер</b>
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
    <td>
        136
    </td>
    <td>
        140
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>размер/рост</b>
    </td>
    <td>
        <b>36/3</b>
    </td>
    <td>
        <b>38/3</b>
    </td>
    <td>
        <b>40/3</b>
    </td>
    <td>
        <b>42/3</b>
    </td>
    <td>
        <b>44/3</b>
    </td>
    <td>
        <b>46/3</b>
    </td>
    <td>
        <b>48/3</b>
    </td>
    <td>
        <b>50/3</b>
    </td>
    <td>
        <b>52/3</b>
    </td>
    <td>
        <b>54/3</b>
    </td>
    <td>
        <b>56/3</b>
    </td>
    <td>
        <b>58/3</b>
    </td>
    <td>
        <b>60/3</b>
    </td>
    <td>
        <b>62/3</b>
    </td>
    <td>
        <b>64/3</b>
    </td>
    <td>
        <b>66/3</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        72
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
</tr>
<tr>
    <td>
        <b>Обхват бедер</b>
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
    <td>
        136
    </td>
    <td>
        140
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>размер/рост</b>
    </td>
    <td>
        <b>36/4</b>
    </td>
    <td>
        <b>38/4</b>
    </td>
    <td>
        <b>40/4</b>
    </td>
    <td>
        <b>42/4</b>
    </td>
    <td>
        <b>44/4</b>
    </td>
    <td>
        <b>46/4</b>
    </td>
    <td>
        <b>48/4</b>
    </td>
    <td>
        <b>50/4</b>
    </td>
    <td>
        <b>52/4</b>
    </td>
    <td>
        <b>54/4</b>
    </td>
    <td>
        <b>56/4</b>
    </td>
    <td>
        <b>58/4</b>
    </td>
    <td>
        <b>60/4</b>
    </td>
    <td>
        <b>62/4</b>
    </td>
    <td>
        <b>64/4</b>
    </td>
    <td>
        <b>66/4</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        72
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
</tr>
<tr>
    <td>
        <b>Обхват бедер</b>
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
    <td>
        136
    </td>
    <td>
        140
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>размер/рост</b>
    </td>
    <td>
        <b>36/5</b>
    </td>
    <td>
        <b>38/5</b>
    </td>
    <td>
        <b>40/5</b>
    </td>
    <td>
        <b>42/5</b>
    </td>
    <td>
        <b>44/5</b>
    </td>
    <td>
        <b>46/5</b>
    </td>
    <td>
        <b>48/5</b>
    </td>
    <td>
        <b>50/5</b>
    </td>
    <td>
        <b>52/5</b>
    </td>
    <td>
        <b>54/5</b>
    </td>
    <td>
        <b>56/5</b>
    </td>
    <td>
        <b>58/5</b>
    </td>
    <td>
        <b>60/5</b>
    </td>
    <td>
        <b>62/5</b>
    </td>
    <td>
        <b>64/5</b>
    </td>
    <td>
        <b>66/5</b>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        72
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
</tr>
<tr>
    <td>
        <b>Обхват бедер</b>
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
    <td>
        136
    </td>
    <td>
        140
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>размер/рост</b>
    </td>
    <td>
        <b>36/6</b>
    </td>
    <td>
        <b>38/6</b>
    </td>
    <td>
        <b>40/6</b>
    </td>
    <td>
        <b>42/6</b>
    </td>
    <td>
        <b>44/6</b>
    </td>
    <td>
        <b>46/6</b>
    </td>
    <td>
        <b>48/6</b>
    </td>
    <td>
        <b>50/6</b>
    </td>
    <td>
        <b>52/6</b>
    </td>
    <td>
        <b>54/6</b>
    </td>
    <td>
        <b>56/6</b>
    </td>
    <td>
        <b>58/6</b>
    </td>
    <td>
        <b>60/6</b>
    </td>
    <td>
        <b>62/6</b>
    </td>
    <td>
        <b>64/6</b>
    </td>
    <td>
        <b>66/6</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        72
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
</tr>
<tr>
    <td>
        <b>Обхват бедер</b>
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
    <td>
        136
    </td>
    <td>
        140
    </td>
</tr>
</tbody>
</table>
<p>
    &nbsp;
</p>
<h3 class="mb-3"> Мужские сорочки</h3>
<table width="100%"  class="table table-bordered">
<tbody>
<tr>
    <td>
        <b>Обхват шеи/рост</b>
    </td>
    <td>
        <b>35/2</b>
    </td>
    <td>
        <b>36/2</b>
    </td>
    <td>
        <b>37/2</b>
    </td>
    <td>
        <b>38/2</b>
    </td>
    <td>
        <b>39/2</b>
    </td>
    <td>
        <b>40/2</b>
    </td>
    <td>
        <b>41/2</b>
    </td>
    <td>
        <b>42/2</b>
    </td>
    <td>
        <b>43/2</b>
    </td>
    <td>
        <b>44/2</b>
    </td>
    <td>
        <b>45/2</b>
    </td>
    <td>
        <b>46/2</b>
    </td>
    <td>
        <b>47/2</b>
    </td>
    <td>
        <b>48/2</b>
    </td>
    <td>
        <b>49/2</b>
    </td>
    <td>
        <b>50/2</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
    <td>
        136
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи</b>
    </td>
    <td>
        35
    </td>
    <td>
        36
    </td>
    <td>
        37
    </td>
    <td>
        38
    </td>
    <td>
        39
    </td>
    <td>
        40
    </td>
    <td>
        41
    </td>
    <td>
        42
    </td>
    <td>
        43
    </td>
    <td>
        44
    </td>
    <td>
        45
    </td>
    <td>
        46
    </td>
    <td>
        47
    </td>
    <td>
        48
    </td>
    <td>
        49
    </td>
    <td>
        50
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи/рост</b>
    </td>
    <td>
        <b>35/3</b>
    </td>
    <td>
        <b>36/3</b>
    </td>
    <td>
        <b>37/3</b>
    </td>
    <td>
        <b>38/3</b>
    </td>
    <td>
        <b>39/3</b>
    </td>
    <td>
        <b>40/3</b>
    </td>
    <td>
        <b>41/3</b>
    </td>
    <td>
        <b>42/3</b>
    </td>
    <td>
        <b>43/3</b>
    </td>
    <td>
        <b>44/3</b>
    </td>
    <td>
        <b>45/3</b>
    </td>
    <td>
        <b>46/3</b>
    </td>
    <td>
        <b>47/3</b>
    </td>
    <td>
        <b>48/3</b>
    </td>
    <td>
        <b>49/3</b>
    </td>
    <td>
        <b>50/3</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
    <td>
        136
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи</b>
    </td>
    <td>
        35
    </td>
    <td>
        36
    </td>
    <td>
        37
    </td>
    <td>
        38
    </td>
    <td>
        39
    </td>
    <td>
        40
    </td>
    <td>
        41
    </td>
    <td>
        42
    </td>
    <td>
        43
    </td>
    <td>
        44
    </td>
    <td>
        45
    </td>
    <td>
        46
    </td>
    <td>
        47
    </td>
    <td>
        48
    </td>
    <td>
        49
    </td>
    <td>
        50
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи/рост</b>
    </td>
    <td>
        <b>35/4</b>
    </td>
    <td>
        <b>36/4</b>
    </td>
    <td>
        <b>37/4</b>
    </td>
    <td>
        <b>38/4</b>
    </td>
    <td>
        <b>39/4</b>
    </td>
    <td>
        <b>40/4</b>
    </td>
    <td>
        <b>41/4</b>
    </td>
    <td>
        <b>42/4</b>
    </td>
    <td>
        <b>43/4</b>
    </td>
    <td>
        <b>44/4</b>
    </td>
    <td>
        <b>45/4</b>
    </td>
    <td>
        <b>46/4</b>
    </td>
    <td>
        <b>47/4</b>
    </td>
    <td>
        <b>48/4</b>
    </td>
    <td>
        <b>49/5</b>
    </td>
    <td>
        <b>50/5</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
    <td>
        136
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи</b>
    </td>
    <td>
        35
    </td>
    <td>
        36
    </td>
    <td>
        37
    </td>
    <td>
        38
    </td>
    <td>
        39
    </td>
    <td>
        40
    </td>
    <td>
        41
    </td>
    <td>
        42
    </td>
    <td>
        43
    </td>
    <td>
        44
    </td>
    <td>
        45
    </td>
    <td>
        46
    </td>
    <td>
        47
    </td>
    <td>
        48
    </td>
    <td>
        49
    </td>
    <td>
        50
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи/рост</b>
    </td>
    <td>
        <b>35/5</b>
    </td>
    <td>
        <b>36/5</b>
    </td>
    <td>
        <b>37/5</b>
    </td>
    <td>
        <b>38/5</b>
    </td>
    <td>
        <b>39/5</b>
    </td>
    <td>
        <b>40/5</b>
    </td>
    <td>
        <b>41/5</b>
    </td>
    <td>
        <b>42/5</b>
    </td>
    <td>
        <b>43/5</b>
    </td>
    <td>
        <b>44/5</b>
    </td>
    <td>
        <b>45/5</b>
    </td>
    <td>
        <b>46/5</b>
    </td>
    <td>
        <b>47/5</b>
    </td>
    <td>
        <b>48/5</b>
    </td>
    <td>
        <b>49/5</b>
    </td>
    <td>
        <b>50/5</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
    <td>
        182
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
    <td>
        136
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи</b>
    </td>
    <td>
        35
    </td>
    <td>
        36
    </td>
    <td>
        37
    </td>
    <td>
        38
    </td>
    <td>
        39
    </td>
    <td>
        40
    </td>
    <td>
        41
    </td>
    <td>
        42
    </td>
    <td>
        43
    </td>
    <td>
        44
    </td>
    <td>
        45
    </td>
    <td>
        46
    </td>
    <td>
        47
    </td>
    <td>
        48
    </td>
    <td>
        49
    </td>
    <td>
        50
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи/рост</b>
    </td>
    <td>
        <b>35/6</b>
    </td>
    <td>
        <b>36/6</b>
    </td>
    <td>
        <b>37/6</b>
    </td>
    <td>
        <b>38/6</b>
    </td>
    <td>
        <b>39/6</b>
    </td>
    <td>
        <b>40/6</b>
    </td>
    <td>
        <b>41/6</b>
    </td>
    <td>
        <b>42/6</b>
    </td>
    <td>
        <b>43/6</b>
    </td>
    <td>
        <b>44/6</b>
    </td>
    <td>
        <b>45/6</b>
    </td>
    <td>
        <b>46/6</b>
    </td>
    <td>
        <b>47/6</b>
    </td>
    <td>
        <b>48/6</b>
    </td>
    <td>
        <b>49/6</b>
    </td>
    <td>
        <b>50/6</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
    <td>
        188
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
    <td>
        124
    </td>
    <td>
        128
    </td>
    <td>
        132
    </td>
    <td>
        136
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи</b>
    </td>
    <td>
        35
    </td>
    <td>
        36
    </td>
    <td>
        37
    </td>
    <td>
        38
    </td>
    <td>
        39
    </td>
    <td>
        40
    </td>
    <td>
        41
    </td>
    <td>
        42
    </td>
    <td>
        43
    </td>
    <td>
        44
    </td>
    <td>
        45
    </td>
    <td>
        46
    </td>
    <td>
        47
    </td>
    <td>
        48
    </td>
    <td>
        49
    </td>
    <td>
        50
    </td>
</tr>
</tbody>
</table>
<p>
    &nbsp;
</p>
<h3 class="mb-3"> Женские блузы</h3>
<table width="100%" class="table table-bordered">
<tbody>
<tr>
    <td>
        <b>Обхват шеи/рост</b>
    </td>
    <td>
        <b>32/2</b>
    </td>
    <td>
        <b>33/2</b>
    </td>
    <td>
        <b>34/2</b>
    </td>
    <td>
        <b>35/2</b>
    </td>
    <td>
        <b>36/2</b>
    </td>
    <td>
        <b>37/2</b>
    </td>
    <td>
        <b>38/2</b>
    </td>
    <td>
        <b>39/2</b>
    </td>
    <td>
        <b>40/2</b>
    </td>
    <td>
        <b>41/2</b>
    </td>
    <td>
        <b>42/2</b>
    </td>
    <td>
        <b>43/2</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
    <td>
        152
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи</b>
    </td>
    <td>
        32
    </td>
    <td>
        33
    </td>
    <td>
        34
    </td>
    <td>
        35
    </td>
    <td>
        36
    </td>
    <td>
        37
    </td>
    <td>
        38
    </td>
    <td>
        39
    </td>
    <td>
        40
    </td>
    <td>
        41
    </td>
    <td>
        42
    </td>
    <td>
        43
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи/рост</b>
    </td>
    <td>
        <b>32/3</b>
    </td>
    <td>
        <b>33/3</b>
    </td>
    <td>
        <b>34/3</b>
    </td>
    <td>
        <b>35/3</b>
    </td>
    <td>
        <b>36/3</b>
    </td>
    <td>
        <b>37/3</b>
    </td>
    <td>
        <b>38/3</b>
    </td>
    <td>
        <b>39/3</b>
    </td>
    <td>
        <b>40/3</b>
    </td>
    <td>
        <b>41/3</b>
    </td>
    <td>
        <b>42/3</b>
    </td>
    <td>
        <b>43/3</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
    <td>
        158
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи</b>
    </td>
    <td>
        32
    </td>
    <td>
        33
    </td>
    <td>
        34
    </td>
    <td>
        35
    </td>
    <td>
        36
    </td>
    <td>
        37
    </td>
    <td>
        38
    </td>
    <td>
        39
    </td>
    <td>
        40
    </td>
    <td>
        41
    </td>
    <td>
        42
    </td>
    <td>
        43
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи/рост</b>
    </td>
    <td>
        <b>32/4</b>
    </td>
    <td>
        <b>33/4</b>
    </td>
    <td>
        <b>34/4</b>
    </td>
    <td>
        <b>35/4</b>
    </td>
    <td>
        <b>36/4</b>
    </td>
    <td>
        <b>37/4</b>
    </td>
    <td>
        <b>38/4</b>
    </td>
    <td>
        <b>39/4</b>
    </td>
    <td>
        <b>40/4</b>
    </td>
    <td>
        <b>41/4</b>
    </td>
    <td>
        <b>42/4</b>
    </td>
    <td>
        <b>43/4</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
    <td>
        164
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи</b>
    </td>
    <td>
        32
    </td>
    <td>
        33
    </td>
    <td>
        34
    </td>
    <td>
        35
    </td>
    <td>
        36
    </td>
    <td>
        37
    </td>
    <td>
        38
    </td>
    <td>
        39
    </td>
    <td>
        40
    </td>
    <td>
        41
    </td>
    <td>
        42
    </td>
    <td>
        43
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи/рост</b>
    </td>
    <td>
        <b>32/5</b>
    </td>
    <td>
        <b>33/5</b>
    </td>
    <td>
        <b>34/5</b>
    </td>
    <td>
        <b>35/5</b>
    </td>
    <td>
        <b>36/5</b>
    </td>
    <td>
        <b>37/5</b>
    </td>
    <td>
        <b>38/5</b>
    </td>
    <td>
        <b>39/5</b>
    </td>
    <td>
        <b>40/5</b>
    </td>
    <td>
        <b>41/5</b>
    </td>
    <td>
        <b>42/5</b>
    </td>
    <td>
        <b>43/5</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
    <td>
        170
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи</b>
    </td>
    <td>
        32
    </td>
    <td>
        33
    </td>
    <td>
        34
    </td>
    <td>
        35
    </td>
    <td>
        36
    </td>
    <td>
        37
    </td>
    <td>
        38
    </td>
    <td>
        39
    </td>
    <td>
        40
    </td>
    <td>
        41
    </td>
    <td>
        42
    </td>
    <td>
        43
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи/рост</b>
    </td>
    <td>
        <b>32/6</b>
    </td>
    <td>
        <b>33/6</b>
    </td>
    <td>
        <b>34/6</b>
    </td>
    <td>
        <b>35/6</b>
    </td>
    <td>
        <b>36/6</b>
    </td>
    <td>
        <b>37/6</b>
    </td>
    <td>
        <b>38/6</b>
    </td>
    <td>
        <b>39/6</b>
    </td>
    <td>
        <b>40/6</b>
    </td>
    <td>
        <b>41/6</b>
    </td>
    <td>
        <b>42/6</b>
    </td>
    <td>
        <b>43/6</b>
    </td>
</tr>
<tr>
    <td>
        &nbsp; <br>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <b>Рост</b>
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
    <td>
        176
    </td>
</tr>
<tr>
    <td>
        <b>Обхват груди</b>
    </td>
    <td>
        76
    </td>
    <td>
        80
    </td>
    <td>
        84
    </td>
    <td>
        88
    </td>
    <td>
        92
    </td>
    <td>
        96
    </td>
    <td>
        100
    </td>
    <td>
        104
    </td>
    <td>
        108
    </td>
    <td>
        112
    </td>
    <td>
        116
    </td>
    <td>
        120
    </td>
</tr>
<tr>
    <td>
        <b>Обхват шеи</b>
    </td>
    <td>
        32
    </td>
    <td>
        33
    </td>
    <td>
        34
    </td>
    <td>
        35
    </td>
    <td>
        36
    </td>
    <td>
        37
    </td>
    <td>
        38
    </td>
    <td>
        39
    </td>
    <td>
        40
    </td>
    <td>
        41
    </td>
    <td>
        42
    </td>
    <td>
        43
    </td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>

</div>