@{
    ViewBag.Title = "Заказ завершен";
    Layout = "_Layout";
    <title>@ViewBag.Title</title>
}

<div>
    <img src="~/Shop/images/checkOutDone.png" alt="">

    <h1 class="checkout-h1">Спасибо, что выбрали наш интернет-магазин!</h1>

    <p class="checkout-text">Ожидайте заказ.</p>
    <p class="checkout-text">Будем рады видеть Вас снова!</p>
</div>