@{
    ViewBag.Title = "Заказ завершен";
    Layout = "_Layout";
    <title>@ViewBag.Title</title>
}

<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Shop/lib/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/Shop/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Shop/css/cart.css">
    <link rel="stylesheet" type="text/css" href="~/Shop/css/cart_responsive.css">
</head>

@if (TempData["SM"] != null)
{
    <div id="my-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["SM"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
}

<div class="super_container">

    <div class="super_container_inner">
        <div class="super_overlay"></div>
        <div class="text-center mx-auto m-5">
            <img src="~/Shop/images/checkOutDone.png" alt="">

            <h1>Спасибо, что выбрали наш интернет-магазин!</h1>

            <p>Ожидайте заказ.</p>
            <p>Будем рады видеть Вас снова!</p>
        </div>
    </div>
</div>