@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelper

<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" asp-controller="Home" asp-action="Index">
            <span class="align-middle">Панель администратора</span>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Cтраницы
            </li>

            <li class="sidebar-item active">
                <a class="sidebar-link" asp-controller="Home" asp-action="Index">
                    <i class="align-middle" data-feather="home"></i> <span class="align-middle">Главная</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#site" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Сайт</span>
                </a>
                <ul id="site" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#">Контакты</a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a href="#catalog" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Каталог</span>
                </a>
                <ul id="catalog" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a asp-controller="Product" asp-action="Index" class="sidebar-link">Товары</a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-controller="Category" asp-action="Index" class="sidebar-link">Категории</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Brand" asp-action="Index">Бренды</a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a href="#orders" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="shopping-cart"></i> <span class="align-middle">Продажи</span>
                </a>
                <ul id="orders" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a asp-controller="User" asp-action="Index" class="sidebar-link">Пользователи</a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-controller="Order" asp-action="Index" class="sidebar-link">Заказы</a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a href="#inventory" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="package"></i> <span class="align-middle">Склады</span>
                </a>
                <ul id="inventory" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Warehouse" asp-action="Index">Склады</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Warehouse" asp-action="Storage">Управление товарами</a>
                    </li>
                </ul>
            </li>
            
            <li class="sidebar-header">
                Отчёты
            </li>
            <li class="sidebar-item">
                <a href="#chart" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Отчёты</span>
                </a>
                <ul id="chart" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a asp-area="Admin" asp-controller="Chart" asp-action="Order" class="sidebar-link">
                            <i class="align-middle"></i> <span class="align-middle">Заказы</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>