@page
@using KS.WEB.Areas.Identity.Pages.Account.Manage
@model IndexModel
@{
    ViewData["Title"] = "Профиль";
    // ViewData["ActivePage"] = ManageNavPages.Index;
}

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Shop/lib/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/Shop/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Shop/css/checkout.css">
    <link rel="stylesheet" type="text/css" href="~/Shop/css/checkout_responsive.css">
</head>

@* <partial name="_StatusMessage" model="Model.StatusMessage"/> *@
<div class="super_container">

    <div class="super_container_inner">
        <div class="super_overlay"></div>

        <div class="home">
            <div class="home_container d-flex flex-column align-items-center justify-content-end">
                <div class="home_content text-center">
                    <div class="home_title">Профиль</div>
                    <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                        <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                            </li>
                            <li>Профиль</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="checkout">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="billing">
                            <div class="checkout_title">Профиль</div>
                            <div class="checkout_form_container">
                                <form method="post" id="checkout_form" class="checkout_form">
                                    @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!-- Name -->
                                            <input asp-for="Input.LastName" type="text" id="checkout_name" class="checkout_input" placeholder="Фамилия" required="required">
                                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Last Name -->
                                            <input asp-for="Input.FirstName" type="text" id="checkout_last_name" class="checkout_input" placeholder="Имя" required="required">
                                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <input asp-for="Input.City" type="text" id="checkout_company" placeholder="Город" class="checkout_input">
                                        <span asp-validation-for="Input.City" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <!-- Phone no -->
                                        <input asp-for="Input.PhoneNumber" type="phone" id="checkout_phone" class="checkout_input" placeholder="Phone No." required="required">
                                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <!-- Email -->
                                        <input asp-for="Username" type="email" id="checkout_email" class="checkout_input" placeholder="Email" required="required" disabled>
                                    </div>
                                    <button id="update-profile-button" type="submit" class="checkout_button trans_200">Сохранить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}